<template>
  <div>
    <template>
      <section class="section">
        <div class="container">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-menu is-active buttons">
              <router-link to="/" tag="button" id='home-button' class="button is-link"> Home </router-link>
              <router-link to="/general-jobs" tag="button" id='home-button' class="button is-link"> General Jobs </router-link>
            </div>
          </nav>
          <router-view></router-view>
        </div>
      </section>
    </template>
  </div>
</template>

<style>
.center {
  text-align: center;
}
</style>