<template>
  <modal name="job-form" height="auto">
    <div class="modal-header">
      <h4 v-if="isUpdate" class="modal-title">Edit Job</h4>
      <h4 v-else class="modal-title">New Job</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input v-if="isUpdate" v-model="codeUpdate" type="text" class="form-control" id="job-code" placeholder="Job Code Edit">
        <input v-else v-model="code" type="text" class="form-control" id="job-code" placeholder="Job Code">
      </div>
      <div class="form-group">
        <input v-if="isUpdate" v-model="nameUpdate" type="text" class="form-control" id="job-name" placeholder="Job Name">
        <input v-else v-model="name" type="text" class="form-control" id="job-name" placeholder="Job Name">
      </div>
      <div class="form-group">
        <input v-if="isUpdate" v-model="lengthUnitsUpdate" type="text" class="form-control" id="job-units" placeholder="Job units of length">
        <input v-else v-model="lengthUnit" type="text" class="form-control" id="job-units" placeholder="Job units of length">
      </div>
      <div class="modal-footer">
        <button v-if="isUpdate" data-dismiss="modal" v-bind:disabled="nameUpdate == ''" @click="onUpdate" type="submit" class="btn btn-default btn-success">Update</button>
        <button v-else data-dismiss="modal" v-bind:disabled="name == ''" @click="onSubmit" type="submit" class="btn btn-default btn-success">Create</button>
      </div>
    </div>
  </modal>
</template>

<script>
import axios from 'axios'

export default {
  name: 'JobForm',
  props: ['isUpdate', 'rowData'],
  data() {
    return {
      code: '',
      name: '',
      lengthUnit: '',
      errors: '',
      isLoading: false,
      update: '',
      updateValues: {}
    }
  },

  computed: {
    codeUpdate: {
      get() {
        return this.rowData.code
      },
      set(val) {
        this.$emit('input', val)

      }
    },
    idUpdate: {
      get() {
        return this.rowData.id
      },
      set(val) {
        this.$emit('input', val)

      }
    },
    nameUpdate: {
      get() {
        return this.rowData.name
      },
      set(val) {
        this.$emit('input', val)

      }
    },
    lengthUnitsUpdate: {
      get() {
        return this.rowData.lengthUnits
      },
      set(val) {
        this.$emit('input', val)

      }
    },
  },

  methods: {
    onSubmit() {
      this.isLoading = true
      this.postGeneralJob()
    },
    onUpdate() {
      this.isLoading = true
      this.updateGeneralJob()
    },
    async postGeneralJob() {
      axios.post('http://localhost:8080/general-jobs', this.$data)
          .then(response => {
            this.name = ''
            this.code = ''
            this.lengthUnit = '';
            this.isLoading = false
            this.$emit('completed', response.data)
          })
          .catch(error => {
            // handle authentication and validation errors here
            this.errors = error.response.data.errors
            this.isLoading = false
          })
    },
    async updateGeneralJob() {
      axios.post('http://localhost:8080/general-jobs/edit/' + this.rowData.id, this.$data)
          .then(response => {
            this.name = ''
            this.code = ''
            this.lengthUnit = '';
            this.isLoading = false
            this.$emit('updated', response.data)
          })
          .catch(error => {
            // handle authentication and validation errors here
            this.errors = error.response.data.errors
            this.isLoading = false
          })
    }
  }
}
</script>