<template>
  <div>
    <span class="help is-info"  v-if="isLoading">Loading...</span>
    <b-table striped hover :items="generalJobs" :fields="generalJobsFields">
      <template #cell(actions)="row">
        <b-button size="sm" @click="updateRow(row.item)" class="mr-1">
          Update
        </b-button>
        <b-button size="sm" class="mr-1">
          Delete
        </b-button>
      </template>
    </b-table>
    <button class="button--green" @click="createNew">Create Job</button>
    <job-form :isUpdate="update" :rowData="rowData" @completed="addGeneralJob" @updated="updateGeneralJob"></job-form>

  </div>
</template>

<script>
import JobForm from './GeneralJobsForm.vue';

export default {
  components: {
    JobForm
  },
  data() {
    return {
      generalJobs: [],
      rowData: [],
      update: false,
      generalJobsFields: [
        { key: 'name', label: 'Name' },
        { key: 'code', label: 'Code' },
        { key: 'lengthUnits', label: 'Units' },
        { key: 'actions', label: 'Actions' },
      ],
      isLoading: true,
      countUpdatingTable: []
    }
  },
  async created () {
    try {
      const response = await axios.get('http://localhost:8080/general-jobs')
      this.generalJobs = response.data
      this.isLoading = false
    } catch(e) {
      // handle authentication error here
    }
  },
  methods: {
    addGeneralJob(generalJob) {
      this.generalJobs.push(generalJob)
    },
    updateGeneralJob(generalJob) {
      //Update row
      this.generalJobs.set(this.generalJobs, generalJob.id, generalJob);
    },
    createNew() {
      this.rowData = {}
      this.update = false
      this.$modal.show('job-form')
    },
    updateRow(row) {
      this.rowData = row
      this.update = true
      this.$modal.show('job-form')
    }
  }
}
</script>